body {
  font-family: roboto, helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  color: #E5E7EB;
  font-size: 18px;
  list-style-type: none;
  display: flex;
  gap: 8px;
}

p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 360px;
}

button {
  font-weight: bold;
  color: #F9FAF8;
  background-color: #3882F6;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  width: max-content;
}

.header {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12%;
  margin: 0px;
}

.logo {
  color: #F9FAF8;
  font-weight: bold;
  font-size: 24px;
}

.hero {
  background-color: #1F2937;
  display: flex;
  padding: 56px 12%;
  justify-content: space-between;
  gap: 48px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-text > .title {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: 900;
} 

.hero-text > .subtext {
  color: #E5E7EB;
  font-size: 18px;
}

.hero > img { /*for some reason this image wants to rescale when i resize the window...*/
  height: auto;
  flex: none;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 48px 12%;
  gap: 36px
}

.info-title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.info-cards {
  display: flex;
  gap: 36px;
  color: grey;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: min-content;
  gap: 8px;
}

.info-cards > .card > img {
  width: 150px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 128px 12%;
  gap: 8px;
}

.quote-text {
  font-size: 36px;
  color: #1F2937;
  font-style: italic;
  font-weight: lighter;
}

.author {
  font-size: 24px;
  text-align: right;
  font-weight: bold;
}

.sign-up-card {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  padding: 48px 100px;
  margin: 48px 12%;
  gap: 24px;
}

.sign-up-card > .text > .title {
  font-weight: bold;
}

.sign-up-card > button {
  border: 2px solid white;
}

.footer {

  color: #E5E7EB;
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 0px 12%;
}